<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beebe GPT2 Intellectual Property assistant</title>
    <!-- Link a favicon image from Bootstrap -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" alt="Beebe logo">
    <!-- Load custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Create a container for your web UI elements -->
    <header>
        <h1 class="header-1" title="web-accessibility">Beebe</h1>
        <h2 class="header-2" title="simplified-website-accessiblity-reports">Trademark and Intellectual Property assistant</h2>
        <p class="code">For more information, please see the Github</p>
        <p class="email-contact">for help, contact developer by <contact class="email">email</contact></p>
        <nav class="top-nav">
            <a href="https://dottymatrix.github.io/beebe/" role="link" title="new-conversation">New conversation</a> 
        </nav><br><br>
    </header>
    <main>
        <!-- Add web UI elements here, such as forms, buttons, tables, etc. -->
        <form id="conversation" class="box">
            <h1>Beebe chat</h1>
            <div class="message" id="chatbox">{{ model_output | safe }}</div>
            <input name="input-field" id="input-field" type="text" placeholder="Type your message here...">
            <button name="send" type="submit" class="send" id="send" onclick="sendMessage(event)">Send</button>
        </form>
    </main>
   <br><br>

    <footer>
        <nav class="bottom-nav">
            <section class="bottom-nav-1">        
                <a href="https://www.youtube.com/watch?v=L-4dO-Ogm0k" role="link" title="watch-the-demo">Demo</a>
                <a href="https://github.com/dottymatrix/beebe" role="link" title="read-github-documentation">Github</a>
            </section>
            <section class="bottom-nav-2">
                <p>
                    <ul role="list">
                        <li role="listitem"> <a href="/about" role="link"  title="about-us">About</a>
                        <li role="listitem"> <a href="/copyright" role="link"  title="MIT-license">Copyright</a>
                        <li role="listitem"> <a href="/feedback" role="link"  title="send-feedback">Send feedback</a>
                        <li role="listitem"> <a href="/terms" role="link"  title="terms-of-service">Terms</a>
                    </ul>
                </p>
            </section>

        </nav>
        <p class="copyright"><small>Copyright © 2023 dottymatrix</small></p>
        
    </footer>
    <!-- Load custom JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>